<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title>{{config.title}} | 
	{% block title %}
		minimalist blog tool powered by Google App Engine
	{% endblock %}
</title>
{% block css %}
	<link href="/static/css/style.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block extracss %} {% endblock %}
{% block extrajs %} {% endblock %}
<link rel="alternate" href="/feed" type="application/atom+xml" title="{{config.title}}"/>
</head>

<body>
 <div id="wrapper" class="hfeed">
  <div id="header">
   <h1 id="blog-title">
    <a rel="home" title="{{config.title}}" href="/">{{config.title}}</a>
</h1>
<div id="blog-description">
    {% block subtitle %}ashwin's stream of consciousness{% endblock %}
</div>
  </div>
  
  <div id="container">
   <div id="content">
    {% block content %}
    {% endblock %}
    {% if nav %}
    {% block navbelow %}
    <div id="nav-below" class="navigation column">
        <div class="column-content">
         <p>
         {% if nav.prev %}
         <a href="?page={{nav.prev}}">&laquo; Older posts</a>
         {% endif %}
         {% if nav.forward %}
         <a href="?page={{nav.forward}}">&laquo; Newer posts</a>
         {% endif %}
         </p>
     </div>
     <div class="column-title">Navigation</div>
     <br style="clear: both;"/>
    </div>
    {% endblock navbelow %}
    {% endif %}
    {% if admin %}
    {% block admin %}
    <div id="admin" class="navigation column">
     <div class="column-content">
         <p>
         <a href="/admin/new">create a new entry</a>
         </p>
     </div>
     <div class="column-title">Admin</div>
     <br style="clear: both;"/>
    </div>
    {% endblock admin %}
    {% endif %}
   </div>
  </div>
  {% block primarysidebar %}
  <div id="primary" class="sidebar">
  </div>
  {% endblock primarysidebar %}
  {% block secondarysidebar %}
  <div id="secondary" class="sidebar">
  </div>
  {% endblock secondarysidebar %}
  {% block footer %}
  <div id="footer"> </div>
  {% endblock footer %}
 </div>
</body>

</html>
