{% extends "base.html" %}
{% block title %}
{{entry.title}}
{% endblock %}
{% block subtitle %}
/ {{entry.title}}
{% endblock %}
{% block content %}
<div>
{% include "single_entry.html" %}
{% if config.disqus %}
<div id="disqus_thread"></div>
<div id="controls">
	{% if users.is_current_user_admin %}
	<a href="{{entry.url}}/edit">edit</a> | <a href="{{entry.url}}/del">delete</a>
	{% endif %}
    </div><!-- controls -->
{% endif %}
</div>
{% endblock %}

{% block extrafooter %}
{% if entry.comments %}
		
	{% if config.disqus %}
		<script type="text/javascript" src="http://disqus.com/forums/{{config.disqus}}/embed.js"></script>
	{% endif %}
{% endif %}
{% endblock %}

{% block navbelow %}{% endblock %}
